section{
    margin-top: 80px;
}

.container{
    width: 90%;
    margin: 0 auto;
}


.header-portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.row-portfolio > li{
    cursor: pointer;
}
.row-portfolio > li:hover{
    transform: scale(1.2);
    color: #3b82f6;
    transition: all 250ms;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 60px;
}

