.wrapper-price{
    position: relative;
    background-color: white;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 5px;
    width: 20%;
    transition: all 250ms;
    overflow: hidden;
}
.title-price{
    color: #a1a1aa;
}
.price-share{
    color: #e4e4e7;
}
.price-color{
    color: #38bdf8;
    font-weight: bold;
    font-size: 30px;
    transition: all 250ms;
}
.desc-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.desc-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}
.btn-price{
    padding: 10px 15px;
    background-color: #38bdf8;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
    transition: all 250ms;
}
.wrapper-price:hover{
    background-color: #38bdf8;
    color: white;
    .title-price{
        color: white;
    }
    .price-color{
        color: white;
    }
    .btn-price{
        background-color: white;
        color: #38bdf8;
    }
    .advaned-wrapper{
        background-color: white;
    }
    .advaned-wrapper a{
        color: #38bdf8;
    }
}
