.Tw{
    position: relative;
    transition: all 3000ms;
}
.Tw img{
    width: 350px;
    border-radius: 16px;
    transition: all 3000ms;
}
.ab-Tw{
    position: absolute;
    top: 300px;
    left: 15px;
    right: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;
    padding: 10px 15px;
    text-align: center;
    transition: all 3000ms;
}
.diff{
    display: inline-block;
    width: 30%;
    height: 2px;
    background-color: #d1d5db;
    transition: all 1000ms;
}

.social-team{
    
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms;
}
.social-team i{
    font-size: 20px;
    transition: all 3000ms;
}

.Tw:hover{
    transition: all 3000ms;
    .diff{
        width: 40%;
        transition: all 3000ms;
    }
    .social-team{
        display: flex;
        margin-top: 40px;
        visibility: visible;
        opacity: 0.6;
    }

}